cadastrenap.owl
def_generales.md
outils.md
modelets_diagrams.drawio
.$modelets_diagrams.drawio.bkp
.$modelets_diagrams.drawio.dtmp
.$ontology-schemes.drawio.bkp
.$ontology-schemes.drawio.dtmp
reunion_06_02.md
entites_geographiques/old_cadastrenap_entitesgeo.ttl
reunion_01_03.md
.drawio-chrome/chrome-data/
modelets.md
dates_cles.md
def_generales.md
annotation_semantique_de_tables.md
Annotation__Semantique_Cadastre.xlsx
data/
exemple/old_entitesgeo.ttl
exemple/old_sources.ttl
rico-doc/